<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
  </head>
  <body>
    <div style="display: flex">
      <div id="userDiv" style="width: 30%; background-color: burlywood">
        <h2>안녕하세요, xx님</h2>
        <button id="logoutBtn">로그아웃</button>
        <button id="updateBtn">개인정보</button>
      </div>
      <div style="width: 10%"></div>
      <div id="postDiv" style="width: 55%; background-color: burlywood">
        <form id="postForm">
          <input placeholder="Content Input" />
          <button type="submit">게시글 추가</button>
        </form>
      </div>
    </div>
  </body>
</html>
